
/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%; 
  display: block;  
}

h1, h2 {
  font-weight: normal; 
  margin: 0; 
}

/* Global Styles */
@font-face {
  font-family: 'jf-openhuninn';
  src: url(../fonts/jf-openhuninn-2.1.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  font-size: 16px;
  font-family: "jf-openhuninn";
}

/* Header */
.header {
  background-color: #FFE762;
  display: flex;
  justify-content: space-between;
  padding: 12px 120px;
}

.logo {
  width: 100px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul > li {
  width: 160px;
  height: 50px;
}

.navbar ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}

.download-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  border: solid 2px #333333;
  border-radius: 36px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px 0 rgba(130, 130, 130, 0.25);
  font-size: 16px;
}
.menu-icon {
  display: none;

}

/* Hero */
.hero{
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FBF9F5;
}

.hero-content{
  text-align: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-content img{
  /* width: 800px; */
  height: auto;
  margin: auto;
}

.hero-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.halo{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.6;
  transition: all 5s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 1;
}

.halo-1 { background: #FFF1A8; top: 10%; left: 20%; }
.halo-2 { background: #FFE58F; top: 60%; left: 55%; }
.halo-3 { background: #E99432; top: 40%; left: 65%; }


.hero-content:hover~ .halo {
margin: 0;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(0.7);
opacity: 0.8;
}

.cards-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
  pointer-events: none;
  z-index: 5;
}

.card-3d {
    pointer-events: all;
    width: auto;
    height: auto;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: auto;
    height: auto;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}


.card-3d.right .card-inner {
    transform: translateY(56px) rotateY(-15deg) rotateX(5deg);
}

.card-3d.left .card-inner {
    transform: translateY(-56px) rotateY(15deg) rotateX(5deg);
}

.card-image {
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    display: block;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}


.card-3d.right:hover .card-inner {
    transform: translateY(56px) rotateY(0deg) rotateX(0deg) translateZ(20px);
}

.card-3d.left:hover .card-inner {
    transform: translateY(-56px) rotateY(0deg) rotateX(0deg) translateZ(20px);
}
/* Mockup */
.Mockup{
  background: #FBF9F5;
}
.hero-img{
  width: 1000px;
  margin: auto;
}
/* Function */
.function{
  padding: 100px 0;
  background: #FBF9F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.func-card{
  max-width: 1200px;
  width: 100%;
  height: 460px;
  background-color: #ffffff;
  border-radius: 20px;
  padding:0;
  display: flex;
}

.func-img{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 36px;
  overflow: hidden;
  flex: 2
}

.func-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow( 4px 2px 8px rgba(224, 224, 224, 0.5));
}

.func-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  flex: 3
}

.func-text h1{
  line-height: 160%;
}

/* Feature */
.feature{
  padding: 160px 0;
  background: #FBF9F5;
}

.feat-container{
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap: 30px;
  padding: 50px;
  margin: auto;
  
}
.feat-item{
  width: 30%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feat-item p{
  line-height: 180%;
}

.feat-item img{
  width: 100%;
  max-width: 150px;
}

/* Recommend */
.recommend{
  background: #FBF9F5;
  text-align: center;
}

.recommend h1{
  text-decoration: underline wavy #FFE762;
  text-underline-offset: 10px;
}

.logo-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.logo-container img{
  height: 360px;
  width: auto;
  flex-shrink: 0;
  opacity: 0.5;
  transition: 0.3s;
}

.logo-container img:hover{
  opacity: 1;
}

/* Feebacks */
.feedbacks{
  background: #FBF9F5;
  text-align: center;
}

.feedbacks h1{
  text-decoration: underline wavy #FFE762;
  text-underline-offset: 10px;
}

.feedback-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 60px ;
}
.feedback-row{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feedback-card {
  width: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  padding: 30px;
  gap: 20px;
}
.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.Customers-Name {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.Customers-Jobs {
  color: #585858;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}
.card-body p{
  line-height: 120%;
  text-align: start;
}

/* Footer */
.footer{
  width: 100%;
  height: 360px;
  background-color: #FFE762;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 12px;
}

.footer-column a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}

.footer-column a:hover { color: #6e6e6e; }

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding: 60px 20px;
    margin: 0 auto;
    gap: 60px;
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 20px;
}

.footer-actions select{
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #333333;
  background-color: white;
  width: 120px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    background-color: #ffffff; 
    display: flex;
    justify-content:center ;
    align-items: center;
    text-decoration: none;
    color: #eb8919;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1);
}

/* 手機版 */
@media screen and (max-width: 500px)  {
  /* Header 手機 */
  .header {
    padding: 20px;
  }

  .navbar {
    display: none;
  }

  .menu-icon {
    display: flex;
    font-size: 24px;
    cursor: pointer;
    align-items: center;
  }

  .download-btn{
  display: none;
}

.logo{
  width: 60px;
  padding: 0;
}
  /* Hero */
  .hero{
    padding:80px 20px
  }
  /* Features 手機 */
  .feat-container {
    padding: 20px;
  }

  .feat-item {
    width: 100%;
    margin-bottom: 40px;
  }
/* Mockup 暫時關閉 */
  .Mockup{
    display: none;
  }
}